<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color:aliceblue;">Chat Bot</h1>


        <div class="d-flex">
            <button type="button" class="btn btn-success"><a (click)="deleteLocalStorage()" class="a"
                    href="http://localhost:4200/">Log
                    Out</a></button>


        </div>
    </div>

</nav>


<div class="box">
    <div class="navbar navbar-light ">
        <br>
        <br>
    </div>
    <div class="row">
        <div class="  rcorners2 container">
            <div class="container col-md-4 ">
                <b>Welcome I am ChatBot how can i help you?</b>
            </div>
            <br><br>
            <button type="button" class="btn btn-primary"><a class="a"
                    href="http://localhost:4200/shopbot">Shopping</a></button>
            <button type="button" class="btn btn-primary"><a class="a" href="http://localhost:4200/accbot">Account
                    Details</a></button>
            <button type="button" class="btn btn-primary"><a class="a"
                    href="http://localhost:4200/shopbot">Orders</a></button>
            <button type="button" class="btn btn-primary"><a class="a"
                    href="http://localhost:4200/paybot">Payment</a></button>
            <button type="button" class="btn btn-primary"> <a class="a" href="http://localhost:4200/otherbot">Other
                    Issues</a> </button>


            <br>
            <br>
            <ng-container>

                <div class="message">
                    <b>Select Your Query</b>
                </div>


                <br>
                <br>
            </ng-container>


            <br>
            <br>
            <br>




        </div>
    </div>